@{
    ViewBag.Title = "Index";
    ViewBag.LargeBanner = true;
}

<h2>Knockout JS</h2>

<ol>
    <li>@Html.ActionLink("MVVM?", "Mvvm", "Slide")</li>
    <li>@Html.ActionLink("What to knockout?", "WhatToKnockout", "Slide")</li>
    <li>@Html.ActionLink("Is it magic?", "IsItMagic", "Slide")</li>
    <li>@Html.ActionLink("Bah, what about Hello World?", "HelloWorld", "Slide")</li>
    <li>@Html.ActionLink("¿qué? Yo no hablo Inglés!", "HelloWorldEspanol", "Slide")</li>
    <li>@Html.ActionLink("But what about me?", "HelloWorldList", "Slide")</li>
    <li>@Html.ActionLink("How about something pracitcal?", "Index", "MemberAdmin")</li>
    <li>@Html.ActionLink("Questions?", "Resources", "Slide")</li>
</ol>
<!-- http://jsfiddle.net -->